.dras {
    text-align: center;
    margin: auto;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: purple;
}

.dras2 {

    width: 50%;
    text-align: center;
    margin: auto;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: purple;
}


.sc{
    position: absolute;
    bottom: 2%;
    right: 2%;
}

span.mb-3{
    color: white;   /* Ensure text is white */

}

.nav {
    margin-right:  40px;
}

.bi-twitter-x {
    fill: rgb(255, 255, 255); 
  }

.bi-instagram {
    fill: rgb(255, 255, 255); 
  }

.bi-facebook {
    fill: rgb(255, 255, 255); 
  }

.bi-linkedin {
    fill: rgb(255, 255, 255); 
  }
  html{
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

footer {
    margin-top: auto !important;
    width: 100%;
    background-color: rgb(33, 37, 41);
}

.cardwidth {
    width: 20%;
}

.background-div{
    width: 100%;
    background-image: url('../img/enve.jpg');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none; 
    margin: 0; 
    padding: 0; 
  }
  
.page-item {
    margin: 0 5px; 
}
  
.page-link {
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    background-color: #f8f9fa; 
    color: #007bff; 
}
  
.page-link.disabled {
    color: #6c757d; 
    pointer-events: none; 
  }

.container .card { 
   margin-bottom: 0.7rem; 
}

.container.d-flex {
    justify-content: center;
    flex-wrap: wrap;
  }
  
.card {
    margin: 50px; 
    text-align: center; 
}

/* Blog container background */
.blog-background {
    background-image: url('https://images.ctfassets.net/79zsydyqh9gk/1XwXGDhnuqlXHUNrSB5bh3/6d07982193919159a5114a6c3212850d/daria-kraplak-d34DtRp1bqo-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 2rem;
}
  
  /* Blog content row */
.blog-content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}
  
  /* Blog card styles */
.blog-card {
    width: 200%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%;
}
  
  /* Card body adjustments for alignment */
.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
  /* Card image */
.blog-image {
    width: 100%;
    height: 225px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
  
  /* Card title */
.card-body h2 a {
    display: block;
    text-align: center;
    font-size: 1.25rem;
    margin: 0 auto 10px auto;
    text-decoration: none;
    color: #007bff;
}
  
  /* Container adjustments for better layout */
.blog-content {
    display: flex;
    gap: 20px; 
}

html, body {
  height: 100%;
  margin: 0;
}

#car-sidebar {
  height: 100%;
  overflow-y: auto; 
  border-right: 1px solid #ddd;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1); 
  position: sticky;
  top: 0;
}

#car-main {
  height: 100%;
  overflow-y: auto; 
}

#car-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.car-item {
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.car-item:hover {
  background-color: #f0f0f0;
}



.tags-container {
  margin-top: 10px;
}

.tags-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}


.badge {
  font-size: 0.85rem;
  padding: 0.4em 0.7em;
  border-radius: 5px;
  background-color: #007bff; 
  color: #ffffff; 
}
.text-muted {
  font-size: 0.85rem;
  color: #6c757d;
}

.navbutton {
  display: flex; 
  justify-content: center; 
  width: 100%; 
}

.navbar-nav {
  flex-direction: row; 
  gap: 20px;
  list-style: none; 
  margin: 0;
  padding: 0;
}

/* Background for Contact Page */
.contact-page {
  background: linear-gradient(135deg, #0d0d0d, #004d00);
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.contact-page h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center;
}

.contact-form {
  margin: auto;
  background: rgba(0, 0, 0, 0.8);
  padding: 20px 30px;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.contact-form .form-group {
  margin-bottom: 15px;
}

.contact-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: 2px solid #33cc33;
}

.contact-form button {
  background: #33cc33;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.contact-form button:hover {
  background: #28a745;
}


.contact-page {
  background: url('../img/contact-bg.jpg') no-repeat center center / cover;
}

.home-pagetitle {
  color: #0e5e22;
}



/* Spinner */

/* From Uiverse.io by Nawsome */ 
.wheel-and-hamster {
  --dur: 1s;
  position: relative;
  width: 12em;
  height: 12em;
  font-size: 14px;
}

.wheel,
.hamster,
.hamster div,
.spoke {
  position: absolute;
}

.wheel,
.spoke {
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wheel {
  background: radial-gradient(100% 100% at center,hsla(0,0%,60%,0) 47.8%,hsl(0,0%,60%) 48%);
  z-index: 2;
}

.hamster {
  animation: hamster var(--dur) ease-in-out infinite;
  top: 50%;
  left: calc(50% - 3.5em);
  width: 7em;
  height: 3.75em;
  transform: rotate(4deg) translate(-0.8em,1.85em);
  transform-origin: 50% 0;
  z-index: 1;
}

.hamster__head {
  animation: hamsterHead var(--dur) ease-in-out infinite;
  background: hsl(30,90%,55%);
  border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
  box-shadow: 0 -0.25em 0 hsl(30,90%,80%) inset,
		0.75em -1.55em 0 hsl(30,90%,90%) inset;
  top: 0;
  left: -2em;
  width: 2.75em;
  height: 2.5em;
  transform-origin: 100% 50%;
}

.hamster__ear {
  animation: hamsterEar var(--dur) ease-in-out infinite;
  background: hsl(0,90%,85%);
  border-radius: 50%;
  box-shadow: -0.25em 0 hsl(30,90%,55%) inset;
  top: -0.25em;
  right: -0.25em;
  width: 0.75em;
  height: 0.75em;
  transform-origin: 50% 75%;
}

.hamster__eye {
  animation: hamsterEye var(--dur) linear infinite;
  background-color: hsl(0,0%,0%);
  border-radius: 50%;
  top: 0.375em;
  left: 1.25em;
  width: 0.5em;
  height: 0.5em;
}

.hamster__nose {
  background: hsl(0,90%,75%);
  border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
  top: 0.75em;
  left: 0;
  width: 0.2em;
  height: 0.25em;
}

.hamster__body {
  animation: hamsterBody var(--dur) ease-in-out infinite;
  background: hsl(30,90%,90%);
  border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
  box-shadow: 0.1em 0.75em 0 hsl(30,90%,55%) inset,
		0.15em -0.5em 0 hsl(30,90%,80%) inset;
  top: 0.25em;
  left: 2em;
  width: 4.5em;
  height: 3em;
  transform-origin: 17% 50%;
  transform-style: preserve-3d;
}

.hamster__limb--fr,
.hamster__limb--fl {
  clip-path: polygon(0 0,100% 0,70% 80%,60% 100%,0% 100%,40% 80%);
  top: 2em;
  left: 0.5em;
  width: 1em;
  height: 1.5em;
  transform-origin: 50% 0;
}

.hamster__limb--fr {
  animation: hamsterFRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,80%) 80%,hsl(0,90%,75%) 80%);
  transform: rotate(15deg) translateZ(-1px);
}

.hamster__limb--fl {
  animation: hamsterFLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,90%) 80%,hsl(0,90%,85%) 80%);
  transform: rotate(15deg);
}

.hamster__limb--br,
.hamster__limb--bl {
  border-radius: 0.75em 0.75em 0 0;
  clip-path: polygon(0 0,100% 0,100% 30%,70% 90%,70% 100%,30% 100%,40% 90%,0% 30%);
  top: 1em;
  left: 2.8em;
  width: 1.5em;
  height: 2.5em;
  transform-origin: 50% 30%;
}

.hamster__limb--br {
  animation: hamsterBRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,80%) 90%,hsl(0,90%,75%) 90%);
  transform: rotate(-25deg) translateZ(-1px);
}

.hamster__limb--bl {
  animation: hamsterBLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,90%) 90%,hsl(0,90%,85%) 90%);
  transform: rotate(-25deg);
}

.hamster__tail {
  animation: hamsterTail var(--dur) linear infinite;
  background: hsl(0,90%,85%);
  border-radius: 0.25em 50% 50% 0.25em;
  box-shadow: 0 -0.2em 0 hsl(0,90%,75%) inset;
  top: 1.5em;
  right: -0.5em;
  width: 1em;
  height: 0.5em;
  transform: rotate(30deg) translateZ(-1px);
  transform-origin: 0.25em 0.25em;
}

.spoke {
  animation: spoke var(--dur) linear infinite;
  background: radial-gradient(100% 100% at center,hsl(0,0%,60%) 4.8%,hsla(0,0%,60%,0) 5%),
		linear-gradient(hsla(0,0%,55%,0) 46.9%,hsl(0,0%,65%) 47% 52.9%,hsla(0,0%,65%,0) 53%) 50% 50% / 99% 99% no-repeat;
}

/* Animations */
@keyframes hamster {
  from, to {
    transform: rotate(4deg) translate(-0.8em,1.85em);
  }

  50% {
    transform: rotate(0) translate(-0.8em,1.85em);
  }
}

@keyframes hamsterHead {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(8deg);
  }
}

@keyframes hamsterEye {
  from, 90%, to {
    transform: scaleY(1);
  }

  95% {
    transform: scaleY(0);
  }
}

@keyframes hamsterEar {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(12deg);
  }
}

@keyframes hamsterBody {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-2deg);
  }
}

@keyframes hamsterFRLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(50deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-30deg) translateZ(-1px);
  }
}

@keyframes hamsterFLLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(-30deg);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(50deg);
  }
}

@keyframes hamsterBRLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(-60deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(20deg) translateZ(-1px);
  }
}

@keyframes hamsterBLLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(20deg);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-60deg);
  }
}

@keyframes hamsterTail {
  from, 25%, 50%, 75%, to {
    transform: rotate(30deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(10deg) translateZ(-1px);
  }
}

@keyframes spoke {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-1turn);
  }
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.response-message {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 20px;
  color: #ffffff; /* Success green */
}













  
  
  
  
  