---
title: About Me
layout: layouts/default.ejs
---

<div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start background-div">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>    
      <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3"><u>About Me</u></h1>
      <p class="col-lg-10 fs-4">"Hello and welcome! I’m Drashya Patel, the creative force behind this webpage for INFT-3102-01. With a passion for Web Devlopment, I’ve dedicated myself to bringing innovative solutions and fresh perspectives to every project I undertake. My journey has been fueled by curiosity, hard work, and a love for learning new things. When I’m not programming, you can find me exploring different competitive PC games or building artifects such as Gundams, always striving to grow both personally and professionally. I believe in the power of connection, and I’m excited to share my story, expertise, and ideas with you."</p>
    </div>
  </div>