<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img 
        src="https://images.ctfassets.net/79zsydyqh9gk/7b5cvtAmVO8UaWFUUK2M5D/67bb45738a626777ca4ea61ca353f37b/1.jpg" 
        alt="Profile Photo" 
        class="rounded-circle me-2"
        style="width: 40px; height: 40px; object-fit: cover;" />
      Drashya Patel
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbutton" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/README">Read Me :)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/cars/page-1/" role="button">Here's My Garage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/blog/page-1">Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/project/page-1">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/about/index">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/contactme">Contact Me</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
